* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000d0;
  color: whitesmoke;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  height: 315px;
}

.card:hover {
  box-shadow: 5px 5px 5px #00000056;
}

.search  {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

input.searchbar {
  border: none;
  outline: none;
  padding: 0.6em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: whitesmoke;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px); 
}

input::placeholder { 
  color: whitesmoke;
}

.searchbar:hover {
  transform: scale(1.07);
}

button { 
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  outline: none;
  background: #7c7c7c2b;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: relative;
}

svg { 
  position: absolute;
  top: 18%;
  left: 18%;
}

img { 
  width: 35px;
}

.city { 
  margin: 10px 0 15px 0
}

button:hover {
  background: white;
  color: black;
}

.temp {
  margin: 15px 0px ;
  font-size: 30px;
}

.humidity { 
  margin: 15px 0px ;
}

.weather { 
  margin: 25px 0 0 27px;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.blurred-img {
  background-image: url("../assets/loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

@media (max-width: 600px) {
  .card {
    padding: 2em 1em; 
    max-width: 90%;
  }
}


